* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.78)
    ),
    url(Images/cuting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  margin-bottom: 50px;
  direction: rtl;
}

body header h1 {
  color: white;
  padding: 10px 40px 10px 0;
}

body header nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body header nav li {
  list-style: none;
  position: relative;
}

body header nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background: #fff;
  transition: 0.5s;
}

body header nav li:hover::after {
  width: 100%;
}

body header nav li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

body header nav i {
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

body header nav i:hover {
  font-size: 27px;
  opacity: 0.7;
}

body header nav button {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

body header nav button:hover {
  background-color: #a5a3a3;
}

body header nav button img {
  padding-right: 7px;
}
/* ********************************************************** */
.box {
  position: relative;
  display: inline-block;
}

#signupIcon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#signupForm {
  display: none;
  position: absolute;
  top: 50px;
  left: -125px;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 1;
  border-radius: 8px;
  transition: 0.5s;
}
#signupForm form {
  display: flex;
  flex-direction: column;
}
form h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
a {
  font-size: 14px;
  color: black;
  margin-top: 10px;
}
#signupForm input[type="email"],
#signupForm input[type="password"] {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#signupForm input[type="email"]:focus,
#signupForm input[type="password"]:focus {
  outline: none;
  border: 1px solid #333;
  box-shadow: 1px 4px 5px #333;
  transition: 0.5s;
}
#signupForm button[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  background-color: #416faa;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#signupForm button[type="submit"]:hover {
  background-color: #426b9f;
  box-shadow: 1px 4px 5px #333;
  transition: 0.5s;
}
section {
  margin-top: 10px;
}
#signupForm form label {
  font-size: 14px;
  opacity: 0.7;
  margin-right: 7px;
}
.last {
  display: flex;
}
/* ******************************************************* */

.container {
  align-self: center;
  width: 500px;
  height: fit-content;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  margin-bottom: 40px;
}
.container form {
  padding: 20px 30px;
  font-weight: bold;
  color: #fff;
}
form h2 {
  text-align: center;
  font-size: 35px;
  margin: 25px 0;
}
form label {
  font-size: 20px;
  display: block;
  margin: 10px 0;
}
form input {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 100px;
  transition: 0.5s;
}
form input:focus,
#area:focus {
  width: 255px;
  padding: 12px;
  font-size: 18px;
  box-shadow: 1px 4px 5px #a5a3a3;
}
#txt {
  width: 250px;
}
#select,
#re,
#qua {
  width: 270px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 100px;
  transition: 0.5s;
  cursor: pointer;
}
#area {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 100px;
  transition: 0.5s;
  cursor: pointer;
}
option {
  font-size: 16px;
}
#btn {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  margin: 40px 180px 20px;
  cursor: pointer;
  background-color: #a5a3a3;
  border: 1px solid #fff;
}
#btn:hover {
  background-color: #686363;
  color: white;
  border: 2px solid white;
  box-shadow: 1px 4px 5px #f9f9f9;
  width: 110px;
  padding: 15px;
  font-size: 18px;
}
/* *********************************************** */

footer {
  width: 100%;
  height: fit-content;
  outline: none;
  border: none;
  background-color: #a5a3a368;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  direction: rtl;
}
.first {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.first h2 {
  color: #fff;
  font-size: 30px;
  margin-right: 40px;
}
.first .icon {
  margin-left: 100px;
}
.first .icon p {
  color: #fff;
  direction: ltr;
}
.first .icon i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 10px 10px 0;
}
.first .icon i:hover {
  font-size: 30px;
  opacity: 0.7;
}
.seconde {
  width: 100%;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seconde p {
  text-align: center;
  font-size: 16px;
  color: #ccc;
}
