footer {
  width: 100%;
  height: fit-content;
  outline: none;
  border: none;
  background-color: #a5a3a368;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #333;
}
.first {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #33333305;
}
.first h2 {
  color: #fff;
  font-size: 30px;
  margin-left: 70px;
}
.first .icon {
  margin-right: 100px;
}
.first .icon p {
  color: #fff;
}
.first .icon i {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 10px 10px 0;
}
.first .icon i:hover {
  font-size: 30px;
  opacity: 0.7;
}
.seconde {
  width: 100%;
  height: 50px;
  background-color: #67646455;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seconde p {
  text-align: center;
  font-size: 16px;
  color: #ccc;
}
